.republican {
    color: firebrick;
    fill: firebrick;
}

.democrat {
    color: steelblue;
    fill: steelblue;
}

.content {
    display: flex;
}

.clickable {
    cursor: pointer;
    user-select: none;
}